/**
Author：王玉坤
**/
.zsMain {
	z-index: 99;
	right: 0;
	width: 36px;
	height: 128px;
	position: absolute;
}
.zsMain .press {
	right: 0;
	width: 36px;
	cursor: pointer;
	position: absolute;
	height: 128px;
}
.shuli {
	margin: 0 auto;
	width: 20px;
	line-height: 24px;
	border: 0px solid #333;
	margin-top: 35px;
	color: #FFFFFF;
	font-size: 20px;
}
