<config>
  <desktop1920x1040>
    <mainState>Maximized</mainState>
    <mainWidth>1007</mainWidth>
    <mainHeight>578</mainHeight>
    <mainLeft>419</mainLeft>
    <mainTop>117</mainTop>
    <panel1width>365</panel1width>
    <panel2width>324</panel2width>
    <groupBox3height>159</groupBox3height>
    <checkBox1>True</checkBox1>
  </desktop1920x1040>
  <workingProject>
    <item>D:\Tam\ePageProject\microsoftAzure\</item>
    <item>D:\Tam\ePageProject\App1PJ\</item>
    <item>D:\Tam\ePageProject\App1PJAdmin\</item>
    <item>D:\Tam\ePageProject\EBWeb\</item>
    <item>D:\Tam\ePageProject\fuchen\</item>
    <item>D:\Tam\ePageProject\PJUserCenter\</item>
    <item>D:\Tam\ePageProject\QRTomahawk\ma315\</item>
    <item>D:\Tam\ePageProject\QRTomahawk\qrAdmin\</item>
    <item>D:\Tam\ePageProject\QRTomahawk\qrPortal\</item>
    <item>D:\Tam\ePageProject\QRTomahawk\qrUserCenter\</item>
    <item>D:\Tam\ePageProject\web\</item>
    <item>D:\Tam\ePageProject\ZhongAn\</item>
    <item>D:\Tam\ePageProject\zhongshuo\</item>
  </workingProject>
</config>